{{define "content"}}
{{/* <h5 class="font-weight-light">Main Categories List</h5> */}}

    {{if .Categories}}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Servings per Week</th>
                </tr>
            </thead>
    {{else}}
        <p>You don't have any categories yet</p>
    {{end}}

    {{range .Categories}}
        <tr onclick="location.href ='/categories/{{.Id}}'" style="cursor: pointer;">
            <td>{{.Name}}</td>
            <td>{{.ServingsPerWeek}}</td>
        </tr>
    {{end}}
    
    {{if .Categories}}
        </table>
    {{end}}

    <a href="/categories/new" class="btn btn-primary">New Category</a>
{{end}}