{{define "content"}}
    {{/* <h5 class="font-weight-light">Meals List</h5> */}}

    {{if .Meals}}
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Servings</th>
                        <th>Main Category</th>
                        <th>Type</th>
                    </tr>
                </thead>
    {{else}}
            <p>You don't have any meals yet</p>
    {{end}}

    {{range .Meals}}
            <tr onclick="location.href ='/meals/{{.Id}}'" style="cursor: pointer;">
                <td>{{.Name}}</td>
                <td>{{.Servings}}</td>
                <td>{{.Category.Name}}</td>
                <td>{{.Type.ToString}}</td>
            </tr>
    {{end}}

    {{if .Meals}}
            </table>
        </div>
    {{end}}

    <a href="/meals/new" class="btn btn-primary">New Meal</a>
{{end}}